name: flutter_vibrate
description: A Haptic Feedback plugin.
version: 2.0.0
maintainer: Rody Davis (@rodydavis)
homepage: https://github.com/rodydavis/plugins
repository: https://github.com/rodydavis/flutter_vibrate

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: flutter.plugins.flutter_vibrate
        pluginClass: FlutterVibratePlugin
      ios:
        pluginClass: FlutterVibratePlugin